@import url('https://fonts.googleapis.com/css?family=Lora|Monoton|Pathway+Gothic+One');

body {
    background: #003340;
    background-attachment: fixed;
    color: #ccc;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 2.5em;
}

header {
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
}

/* M logo */
#logo {
    font-family: 'Monoton', cursive;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-decoration: none;
    font-size: 4em;
    color: #ccc;
}

#landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}

h1 {
    text-shadow: 0px 3px 0px #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 1.2em;
    line-height: 2.2em;
}

/* Arrow button */
.transition {
    position: absolute;
    margin-bottom: 50px;
    bottom: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: 1.2em;
    line-height: 3em;
}

.transition a {
    text-decoration: none;
    padding: 15px 20px;
    background: #ccc;
    box-sizing: border-box;
    color: #003340;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
}

.transition a:hover {
    background: rgba(255, 255, 255, 0);
    color: #ccc ;
    padding: 20px 25px;
}

/* Span on name w/ keyframes */
#name {
    color: #ff6052;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 8px;
    word-spacing: -8px;
    font-size: 5em;
    font-weight: bold;
    animation: hue 5s infinite;
}

@keyframes hue {
    0% {
        color: #ff6052;
    }
    33% {
        color: #ffbf05;
    }
    66% {
        color: #15cd37;
    }
    99% {
        color: #ff6052;
    }
}


.content {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

/*************************** 
    Skills section 
***************************/


#skills {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.skills-list {
    width: 100%;
}

#self {
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 0 0 50px;
}

.description {
    font-size: 1.25em;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.7em;
    margin: 0 auto 20px;
    letter-spacing: 2px;
    border-bottom: 9px solid #ccc;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    width: 15%;
}

ul {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

li {
    padding: 16px 32px;
    width: 15%;
    box-sizing: border-ccc;
    display: inline-block;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 1px;
    font-size: 1.8em;
    font-weight: bold;
}

/* Skills List */
#html, #css, #js, #react
#postgres, #node, #ruby {
    transition: all 500ms ease-in-out;
}

#html {
    border-bottom: 10px solid #e44d26;
    color: #ccc;
}

#html:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #e44d26;
}

#css {
    border-bottom: 10px solid #3a91b0;
    color: #ccc;
}

#css:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #3a91b0;
}

#js {
    border-bottom: 10px solid #e3a227;
    color: #ccc;
}

#js:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #e3a227;
}

#react {
    border-bottom: 10px solid #61dafb;
    color: #ccc;
}

#react:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #61dafb;
}

#node {
    border-bottom: 10px solid #83cd29;
    color: #ccc;
}

#node:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #83cd29;
}

#postgres {
    border-bottom: 10px solid #336791;
    color: #ccc;
}

#postgres:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #336791;
}

#ruby {
    border-bottom: 10px solid #cc0000;
    color: #ccc;
}

#ruby:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #cc0000;
}


/*************************** 
Projects section 
***************************/

#projects {
    background: #eceef0;
    width: 100%;
    height: 100vh;
}

#projects a {
    float: left;
    text-decoration: none;
}

.inverted {
    color: #003340;
    border-color: #003340;
    margin-top: 50px;
}

.portfolio {
    width: 390px;
    height: auto;
}

.portfolio-title {
    font-size: 1.05em;
    color: #003340;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: 50px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}


