@import url('https://fonts.googleapis.com/css?family=Lora|Monoton|Pathway+Gothic+One');

$primary-color: #003340;
$accent-color: #eceef0;
$html-color: #e44d26;
$css-color: #3a91b0;
$js-color: #e3a227;
$react-color: #61dafb;
$node-color: #83cd29;
$postgres-color: #336791;
$ruby-color: #cc0000;

$font-stack-primary: 'Lora', serif;
$font-stack-secondary: 'Pathway Gothic One', sans-serif;
$font-stack-logo: 'Monoton', cursive;

body {
  background: $primary-color;
  background-attachment: fixed;
  color: $accent-color;
  font-family: $font-stack-primary;
  font-size: 16px;
  line-height: 2.2em;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $accent-color;
}

.box-size {
  box-sizing: border-box;
}

/* M logo */
#logo {
  font-family: $font-stack-logo;
  width: 100%;
  text-align: center;
  margin: 50px auto 0;
  text-decoration: none;
  font-size: 4em;
  color: $accent-color;
}

#landing {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 {
  margin-top: 50px;
  text-shadow: 0px 3px 0px #222;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 1.2em;
  line-height: 2.2em;
}

/* Arrow button */
.transition {
  margin: 0 50px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  word-spacing: 5px;
  font-size: 1.2em;
  line-height: 3em;
}

.transition a {
  display: block;
  text-decoration: none;
  color: $accent-color;
  border-radius: 50%;
  font-size: 1.8em;
  transition: all 500ms ease-in-out;
}

.transition a:hover {
  background: rgba(255, 255, 255, 0);
  color: #FFF ;
  padding: 20px 25px;
}

/* Span on name w/ keyframes */
#name {
  color: #ff6052;
  font-family: $font-stack-secondary;
  letter-spacing: 8px;
  word-spacing: -8px;
  font-size: 5em;
  font-weight: bold;
  animation: hue 5s infinite;
}

@keyframes hue {
  0% {
      color: #ff6052;
  }
  33% {
      color: #ffbf05;
  }
  66% {
      color: #15cd37;
  }
  99% {
      color: #ff6052;
  }
}

/***************************
    Skills section
***************************/

#skills {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.skills-list {
  width: 100%;
}

#self {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-bottom: 40px;
  transition: all 1s ease-in-out;
}

#self:hover {
  transform: rotate(180deg);
}

.self-description {
  font-size: 1.05em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  margin: 0 auto 40px;
  letter-spacing: 2px;
  border-bottom: 9px solid $accent-color;
  text-transform: uppercase;
  font-family: $font-stack-secondary;
  width: 15%;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  padding: 1px 0;
  margin-bottom: 20px;
  width: 15%;
  display: inline-block;
  font-family: $font-stack-secondary;
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: bold;
  box-sizing: border-box;
}

/* Skills List */
.language {
  transition: all 500ms ease-in-out;
  cursor: pointer;
  width: 100%;
}

#html {
  border-bottom: 10px solid $html-color;
  color: $accent-color;
}

#html:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $html-color;
}

#css {
  border-bottom: 10px solid $css-color;
  color: $accent-color;
}

#css:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $css-color;
}

#js {
  border-bottom: 10px solid $js-color;
  color: $accent-color;
}

#js:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $js-color;
}

#react {
  border-bottom: 10px solid $react-color;
  color: $accent-color;
}

#react:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $react-color;
}

#node {
  border-bottom: 10px solid $node-color;
  color: $accent-color;
}

#node:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $node-color;
}

#postgres {
  border-bottom: 10px solid $postgres-color;
  color: $accent-color;
}

#postgres:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $postgres-color;
}

#ruby {
  border-bottom: 10px solid $ruby-color;
  color: $accent-color;
}

#ruby:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $ruby-color;
}


/***************************
Projects section
***************************/

#projects {
  background: #eceef0;
  width: 100%;
  height: 200vh;
  /* overflow: scroll; */
}

#projects h2 {
  width: 30%;
}

.inverted {
  color: #003340;
  border-color: #003340;
  text-align: center;
  /* margin-top: 50px; */
}

.ui {
  margin: 0;
}

#projects {
  padding-top: 100px;
}

#projects .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio {
  width: 32%;
  cursor: pointer;
}

.github, .heroku {
  border-radius: 0 !important;
  color: white !important;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.description {
  width: 60% !important;
  margin: 20px 15px 0 0;
  font-size: 15px;
  text-align: left;
  color: #333;
  text-transform: capitalize !important;
}r

.image {
  width: 40% !important;
  margin: 0 !important;
}

.modal-image {
  max-width: 100%;
  height: auto;
}

.heroku {
  background-color: #8870FF !important;
}

.github {
  background-color: #344146 !important;
}

.portfolio-image {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

.portfolio-title {
  font-family: $font-stack-secondary;
  font-size: 1.15em;
  color: #003340;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 5px;
  letter-spacing: 3px;
}

/* Footer */
#foot {
  height: 10vh;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-stack-secondary;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.icons {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.fa {
  font-size: 2em;
  cursor: pointer;
}

@media only screen
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  h1 {
    font-size: 0.8em;
    line-height: 50px;
  }

  #self {
    width: auto;
    height: 15vh;
    margin-top: -70%;
  }

  .self-description {
    font-size: 0.8em;
    margin: -15px 0 5px;
    line-height: 1.8em;
  }

  .skills-list {
    height: 20vh;
    margin-top: 10%;
  }

  .skills-list li {
    font-size: 0.9em;
  }

  #html, #css, #js, #socket, #react,
  #postgres, #node, #ruby {
    border-width: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #skills h2 {
    font-size: 1.2em;
    display: inline;
    border-width: 5px;
  }

  #skills ul {
    margin-top: 8%;
  }

  .fa-long-arrow-down {
    font-size: 0.7em;
  }

  .inverted {
    font-size: 1.2em;
    border-width: 5px;
  }

  .portfolio {
      width: 45%;
  }

  .portfolio-title {
      font-size: 1.2em;
  }

  .ui.modal>.actions {
    padding-bottom: 3vh !important;
  }

  #foot {
    font-size: 0.8em;
  }

  .icons {
    width: 35%;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen
and (max-device-width: 750px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  h1 {
    font-size: 1em;
    line-height: 50px;
  }

  #self {
    margin-top: -20%;
    width: auto;
    height: 35vh;
  }

  #skills {
    height: 140vh;
  }

  .fa-long-arrow-down {
      font-size: 1.3em;
  }

  .self-description {
    font-size: 0.8em;
    margin: -15px 0 5px;
    line-height: 1.8em;
  }

  .skills-list {
    height: 20vh;
    margin-top: 5%;
  }

  .skills-list li {
      font-size: 0.9em;
      margin-top: -25px;
  }

  #html, #css, #js, #socket, #react,
  #postgres, #node, #ruby {
      border-width: 5px;
      margin-bottom: 0px;
      padding-bottom: 0px;
  }

  #skills h2 {
      font-size: 1.2em;
      display: inline;
      border-width: 5px;
  }

  #skills ul {
      margin-top: 8%;
  }

  .inverted {
      font-size: 1.2em;
      border-width: 5px;
  }

  #projects {
    height: 220vh;
  }

  .portfolio {
      width: 30%;
  }

  .portfolio-title {
      font-size: 1.0em;
  }

  #foot {
      font-size: 0.8em;
  }

  .icons {
      width: 35%;
      display: flex;
      justify-content: space-around;
  }
}
